<template>
  <base-item label="Amount spent per category">
    <div v-if="data.length > 0">
      <expense-progress-item
        v-for="item in data"
        :key="item.category_id"
        :category="item.name"
        :budget="item.budget"
        :spent="item.total"
      ></expense-progress-item>
    </div>
    <h4 v-else>No data available for this month.</h4>
  </base-item>
</template>

<script lang="ts">
import { useStore } from '@/store';
import { computed, defineComponent } from 'vue';
import ExpenseProgressItem from './ExpenseProgressItem.vue';
import BaseItem from '@/components/ui/BaseItem.vue';

export default defineComponent({
  components: { ExpenseProgressItem, BaseItem },
  setup() {
    const store = useStore();
    const data = computed(() => {
      const categories = store.getters.categories;
      const expenses = store.getters.monthExpenses;
      let totalSpent = 0;
      let totalBudget = 0;
      const spentPerCategory = categories.map(cat => {
        const exp = expenses.find(e => e.category_id === cat.id);
        totalBudget += cat.budget;
        totalSpent += exp?.total ?? 0;
        if (exp) return exp;
        return {
          category_id: cat.id,
          name: cat.name,
          budget: cat.budget,
          total: 0
        };
      });
      spentPerCategory.unshift({
        category_id: 0,
        name: 'Total',
        budget: totalBudget,
        total: totalSpent
      });
      return spentPerCategory.sort((a, b) => (a.budget < b.budget ? 1 : -1));
    });
    return { data };
  }
});
</script>
