<template>
  <p>{{ category }}</p>
  <progress-bar :value="percentage" :class="{ 'over-budget': isOverBudget }" :showValue="true">
    {{ currencySpent }} / {{ currencyBudget }}
  </progress-bar>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import ProgressBar from 'primevue/progressbar';
import { useCurrency } from '@/hooks/useCurrency';

export default defineComponent({
  components: {
    ProgressBar
  },
  props: {
    budget: {
      type: Number,
      required: true
    },
    spent: {
      type: Number,
      required: true
    },
    category: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const percentage = computed(() =>
      props.budget > 0 ? (props.spent / props.budget) * 100 || 0.0001 : 100
    );
    const currencySpent = useCurrency(props.spent);
    const currencyBudget = useCurrency(props.budget);
    const isOverBudget = computed(() => props.spent > props.budget);
    return { percentage, currencyBudget, currencySpent, isOverBudget };
  }
});
</script>

<style scoped>
p {
  margin-bottom: 0.1rem;
  font-weight: 300;
}

.over-budget.p-progressbar > ::v-deep(.p-progressbar-value) {
  background: var(--pink-900);
}
</style>
