<template>
  <base-item @click="onClick">
    <slot>
      <div class="category-container">
        <p>{{ name }}</p>
        <div class="budget-container">
          <p>{{ currency(budget) }}</p>
          <p class="budget-label">per month</p>
        </div>
      </div>
    </slot>
  </base-item>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BaseItem from '@/components/ui/BaseItem.vue';

export default defineComponent({
  components: { BaseItem },
  emits: ['click'],
  props: {
    id: {
      type: Number,
      required: true
    },
    budget: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const currency = (value: number) => {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2
      });
      return formatter.format(value);
    };

    const onClick = () => {
      emit('click', { ...props });
    };
    return { currency, onClick };
  }
});
</script>

<style scoped>
.category-container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.budget-container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.budget-container > p {
  margin-bottom: 0.2rem;
}

.budget-label {
  margin-top: 0;
  font-weight: 300;
  font-size: 0.8rem;
}
</style>
