<template>
  <base-dialog
    :visible="visible"
    :breakpoints="{ '960px': '75vw', '640px': '96vw' }"
    header="New Category"
    modal
    :closable="false"
  >
    <div>
      <form class="p-fluid" @submit.prevent="submitForm">
        <div class="p-field">
          <div class="p-float-label">
            <input-text
              id="name"
              v-model="v$.name.$model"
              :class="{ 'p-invalid': v$.name.$error }"
            />
            <label for="name">Name</label>
          </div>
          <small v-if="v$.name.$error" class="p-error">
            A name is required.
          </small>
        </div>
        <br />
        <div class="p-field">
          <div class="p-float-label">
            <input-number
              id="budget"
              v-model="v$.budget.$model"
              mode="currency"
              currency="MXN"
              locale="es-MX"
              :class="{ 'p-invalid': v$.budget.$error }"
              :min="0"
            />
            <label for="budget">budget</label>
          </div>
          <small v-if="v$.budget.$error" class="p-error">
            A valid budget is required.
          </small>
        </div>
        <base-button :label="editMode ? 'Edit' : 'Create'" type="submit" class="submit-btn" />
        <base-button
          label="Cancel"
          type="buttom"
          class="p-button-secondary p-button-outlined"
          @click.prevent="cancel"
        />
      </form>
    </div>
  </base-dialog>
</template>

<script lang="ts">
import { useStore } from '@/store';
import { ActionTypes } from '@/store/actions';
import useVuelidate from '@vuelidate/core';
import { minValue, required } from '@vuelidate/validators';
import BaseButton from 'primevue/button';
import BaseDialog from 'primevue/dialog';
import InputNumber from 'primevue/inputnumber';
import InputText from 'primevue/inputtext';
import { useToast } from 'primevue/usetoast';
import { computed, defineComponent, reactive, toRefs, watch } from 'vue';

export default defineComponent({
  components: {
    BaseDialog,
    InputText,
    BaseButton,
    InputNumber
  },
  emits: ['close'],
  props: {
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    editMode: {
      type: Boolean,
      required: false,
      default: false
    },
    id: {
      type: Number,
      required: false
    },
    budget: {
      type: Number,
      required: false,
      default: 0
    },
    name: {
      type: String,
      required: false,
      default: ''
    }
  },
  setup(props, { emit }) {
    const store = useStore();
    const toast = useToast();

    const id = computed(() => props.id);
    const name = computed(() => props.name);
    const budget = computed(() => props.budget);

    const data = reactive({
      id: id.value,
      name: name.value,
      budget: budget.value
    });

    watch([id, name, budget], ([newId, newName, newBudget]) => {
      data.id = newId;
      data.name = newName;
      data.budget = newBudget;
    });

    const rules = computed(() => ({
      name: { required },
      budget: {
        minValue: minValue(0)
      }
    }));

    const v$ = useVuelidate(rules, data);
    const { visible } = toRefs(props);
    watch(visible, () => v$.value.$reset());

    const submitForm = async () => {
      v$.value.$touch();
      if (v$.value.$invalid) {
        return;
      }
      try {
        const action = props.editMode ? ActionTypes.EDIT_CATEGORY : ActionTypes.CREATE_CATEGORY;
        await store.dispatch(action, {
          id: data.id,
          name: data.name,
          budget: data.budget
        });
      } catch (error) {
        toast.add({
          severity: 'error',
          summary: 'Error',
          detail: error.message,
          life: 3000
        });
      }
      emit('close');
    };

    const cancel = () => emit('close');

    return { v$, submitForm, cancel };
  }
});
</script>

<style scoped>
.submit-btn {
  margin-bottom: 1rem;
}
</style>
