<template>
  <base-item :label="formatDate(date)">
    <slot>
      <div class="transaction-header">
        <p>{{ category }}</p>
        <p>{{ currency(amount) }}</p>
      </div>
      <p class="description">{{ description }}</p>
    </slot>
  </base-item>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import dayjs from 'dayjs';
import BaseItem from '@/components/ui/BaseItem.vue';

export default defineComponent({
  components: { BaseItem },
  props: {
    category: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    amount: {
      type: Number,
      required: true
    },
    date: {
      type: String,
      required: true
    }
  },
  setup() {
    const currency = (value: number) => {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2
      });
      return formatter.format(value);
    };

    const formatDate = (value: string | Date) => {
      const date = dayjs(value);
      return date.format('DD/MMM/YY');
    };
    return { currency, formatDate };
  }
});
</script>

<style scoped>
.transaction-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.transaction-header > p {
  margin: 0;
}

p {
  margin-top: 0;
}

.description {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.3rem;
}
</style>
