<template>
  <base-dialog
    :visible="visible"
    :breakpoints="{ '960px': '75vw', '640px': '96vw' }"
    header="New Transaction"
    modal
    :closable="false"
  >
    <div>
      <form class="p-fluid" @submit.prevent="submitForm">
        <div class="p-field">
          <dropdown
            v-model="v$.category.$model"
            :options="categories"
            optionLabel="name"
            optionValue="id"
            placeholder="Category"
          ></dropdown>
          <small v-if="v$.category.$error" class="p-error">
            Please select a category.
          </small>
          <br />
        </div>
        <div class="p-field">
          <div class="p-float-label">
            <input-text
              id="description"
              v-model="v$.description.$model"
              :class="{ 'p-invalid': v$.description.$error }"
            />
            <label for="description">Description</label>
          </div>
          <small v-if="v$.description.$error" class="p-error">
            A description is required.
          </small>
        </div>
        <br />
        <div class="p-field">
          <div class="p-float-label">
            <input-number
              id="amount"
              v-model="v$.amount.$model"
              mode="currency"
              currency="MXN"
              locale="es-MX"
              :class="{ 'p-invalid': v$.amount.$error }"
              :min="0"
            />
            <label for="amount">Amount</label>
          </div>
          <small v-if="v$.amount.$error" class="p-error">
            A valid amount is required.
          </small>
        </div>
        <div class="p-field">
          <calendar-input v-model="v$.date.$model" :touchUI="true" showIcon dateFormat="dd/MM/yy" />
        </div>
        <base-button label="Create" type="submit" class="submit-btn" />
        <base-button
          label="Cancel"
          type="buttom"
          class="p-button-secondary p-button-outlined"
          @click.prevent="cancel"
        />
      </form>
    </div>
  </base-dialog>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, toRefs, watch } from 'vue';
import useVuelidate from '@vuelidate/core';
import { required, minValue } from '@vuelidate/validators';
import InputText from 'primevue/inputtext';
import BaseButton from 'primevue/button';
import InputNumber from 'primevue/inputnumber';
import BaseDialog from 'primevue/dialog';
import CalendarInput from 'primevue/calendar';
import Dropdown from 'primevue/dropdown';
import { useStore } from '@/store';
import { ActionTypes } from '@/store/actions';
import { useToast } from 'primevue/usetoast';

export default defineComponent({
  components: {
    BaseDialog,
    InputText,
    BaseButton,
    InputNumber,
    Dropdown,
    CalendarInput
  },
  emits: ['close'],
  props: {
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    categories: {
      type: Array,
      required: true
    }
  },
  setup(props, { emit }) {
    const store = useStore();
    const toast = useToast();

    const data = reactive({
      description: '',
      amount: 0,
      category: undefined,
      date: new Date()
    });
    const rules = computed(() => ({
      description: { required },
      amount: {
        minValue: minValue(0)
      },
      category: { required },
      date: { required }
    }));

    const v$ = useVuelidate(rules, data);
    const { visible } = toRefs(props);
    watch(visible, () => v$.value.$reset());

    const submitForm = async () => {
      v$.value.$touch();
      if (v$.value.$invalid) {
        return;
      }
      try {
        await store.dispatch(ActionTypes.CREATE_TRANSACTION, {
          category_id: data.category,
          description: data.description,
          amount: data.amount,
          date: data.date,
          type: 'EXPENSE'
        });
      } catch (error) {
        toast.add({
          severity: 'error',
          summary: 'Error',
          detail: error.message,
          life: 3000
        });
      }
      emit('close');
    };

    const cancel = () => emit('close');

    return { v$, submitForm, cancel };
  }
});
</script>

<style scoped>
.submit-btn {
  margin-bottom: 1rem;
}
</style>
