<template>
  <div class="p-fluid p-grid">
    <div class="p-field p-col-6">
      <dropdown v-model="selectedMonth" :options="months" optionLabel="name" placeholder="Month" />
    </div>
    <div class="p-field p-col-6">
      <dropdown v-model="selectedYear" :options="years" optionLabel="value" placeholder="Year" />
    </div>
  </div>
</template>

<script lang="ts">
import Dropdown from 'primevue/dropdown';
import { defineComponent, ref, watchEffect } from 'vue';

export default defineComponent({
  emits: ['change-filters'],
  components: {
    Dropdown
  },
  setup(_, { emit }) {
    const months = [
      { name: 'January', value: 0 },
      { name: 'February', value: 1 },
      { name: 'March', value: 2 },
      { name: 'April', value: 3 },
      { name: 'May', value: 4 },
      { name: 'June', value: 5 },
      { name: 'July', value: 6 },
      { name: 'August', value: 7 },
      { name: 'September', value: 8 },
      { name: 'October', value: 9 },
      { name: 'November', value: 10 },
      { name: 'December', value: 11 }
    ];
    const selectedMonth = ref(months[new Date().getMonth()]);

    const years = [{ value: new Date().getFullYear() }];
    const selectedYear = ref(years[0]);

    watchEffect(() => {
      emit('change-filters', {
        month: selectedMonth.value.value,
        year: selectedYear.value.value
      });
    });

    return {
      months,
      selectedMonth,
      years,
      selectedYear
    };
  }
});
</script>
