<template>
  <tab-menu :model="navItems"></tab-menu>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import TabMenu from 'primevue/tabmenu';
import { PrimeIcons } from 'primevue/api';

export default defineComponent({
  components: {
    TabMenu
  },
  setup() {
    const navItems = [
      { label: 'Dashboard', icon: PrimeIcons.CHART_LINE, to: '/dashboard' },
      { label: 'Transactions', icon: PrimeIcons.MONEY_BILL, to: '/transactions' },
      { label: 'Planner', icon: PrimeIcons.CALENDAR, to: '/expense-plan' },
      { label: 'Settings', icon: PrimeIcons.COG, to: '/settings' }
    ];
    return { navItems };
  }
});
</script>

<style scoped>
.p-tabmenu {
  flex: 0 1 auto;
}

@media only screen and (max-width: 525px) {
  ::v-deep(.p-menuitem-text) {
    display: none;
  }
  ::v-deep(.p-tabmenuitem) {
    flex-grow: 1;
  }
  ::v-deep(.p-menuitem-link) {
    justify-content: center;
  }
  .p-tabmenu {
    order: 2;
  }
}
</style>
