<template>
  <category-form
    :visible="modalVisible"
    @close="toggleModal(false)"
    :editMode="editMode"
    v-bind="editData"
  ></category-form>
  <base-fieldset legend="Expense Planner">
    <div class="p-d-flex">
      <p class="p-text-bold">Total: {{ currency(totalBudget) }}</p>
    </div>
    <base-button
      :icon="addIcon"
      class="p-button-secondary p-button-outlined add-button"
      @click="createCategory"
    ></base-button>
    <data-view :value="categories">
      <template #list="slotProps">
        <category-item
          :name="slotProps.data.name"
          :budget="slotProps.data.budget"
          :id="slotProps.data.id"
          @click="editCategory"
        ></category-item>
      </template>
    </data-view>
  </base-fieldset>
</template>

<script lang="ts">
import CategoryItem from '@/components/expensecategories/CategoryItem.vue';
import { useStore } from '@/store';
import { ActionTypes } from '@/store/actions';
import BaseButton from 'primevue/button';
import { PrimeIcons } from 'primevue/api';
import DataView from 'primevue/dataview';
import BaseFieldset from 'primevue/fieldset';
import { computed, defineComponent, reactive, ref } from 'vue';
import { useModal } from '@/hooks/useModal';
import CategoryForm from '@/components/expensecategories/CategoryForm.vue';
import { Category } from '@/models/category.model';

export default defineComponent({
  components: {
    BaseFieldset,
    DataView,
    BaseButton,
    CategoryItem,
    CategoryForm
  },
  setup() {
    const store = useStore();
    store.dispatch(ActionTypes.LOAD_CATEGORIES, undefined);
    const totalBudget = computed(() => store.getters.totalMonthlyBudget);
    const categories = computed(() => store.getters.categories);

    const editData = reactive<Partial<Category>>({
      id: undefined,
      name: undefined,
      budget: undefined
    });

    const editMode = ref(false);

    const { modalVisible, toggleModal } = useModal();

    const currency = (value: number) => {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2
      });
      return formatter.format(value);
    };

    const editCategory = (data: Partial<Category>) => {
      editData.id = data.id;
      editData.name = data.name;
      editData.budget = data.budget;
      editMode.value = true;
      toggleModal();
    };

    const createCategory = () => {
      editMode.value = false;
      editData.id = undefined;
      editData.name = undefined;
      editData.budget = undefined;
      toggleModal();
    };

    return {
      categories,
      addIcon: PrimeIcons.PLUS,
      toggleModal,
      modalVisible,
      totalBudget,
      currency,
      editCategory,
      editData,
      editMode,
      createCategory
    };
  }
});
</script>

<style scoped>
.p-fieldset {
  order: 1;
  height: 100%;
}

::v-deep(.p-toggleable-content) {
  height: 100%;
}

::v-deep(.p-fieldset-content) {
  height: 100%;
  padding-bottom: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

::v-deep(.p-dataview) {
  padding-top: 0.8rem;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.add-button {
  width: 100%;
  margin-bottom: 1rem;
}
</style>
