<template>
  <base-fieldset legend="Dashboard">
    <current-dash></current-dash>
    <historic-dash></historic-dash>
  </base-fieldset>
</template>

<script lang="ts">
import HistoricDash from '@/components/dashboard/historic/HistoricDash.vue';
import { useStore } from '@/store';
import { ActionTypes } from '@/store/actions';
import BaseFieldset from 'primevue/fieldset';
import { defineComponent, onMounted } from 'vue';
import CurrentDash from '@/components/dashboard/current/CurrentDash.vue';

export default defineComponent({
  components: {
    BaseFieldset,
    HistoricDash,
    CurrentDash
  },
  setup() {
    const store = useStore();

    onMounted(() => {
      store.dispatch(ActionTypes.LOAD_CATEGORIES, undefined);
      const today = new Date();
      store.dispatch(ActionTypes.LOAD_TOTAL_PER_CATEGORY, {
        month: today.getMonth(),
        year: today.getFullYear()
      });
      store.dispatch(ActionTypes.LOAD_EXPENSE_TIMELINE, undefined);
    });

    return;
  }
});
</script>

<style scoped>
.p-fieldset {
  order: 1;
  height: 100%;
}

.add-button {
  width: 100%;
  margin-bottom: 1rem;
}

::v-deep(.p-toggleable-content) {
  height: 100%;
}

::v-deep(.p-fieldset-content) {
  height: 100%;
  padding-bottom: 8px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

::v-deep(.p-dataview) {
  padding-top: 0.8rem;
  overflow-y: scroll;
  flex: 1 1 auto;
}
</style>
