<template>
  <base-fieldset legend="Settings">
    <base-button
      label="Logout"
      :icon="logoutIcon"
      iconPos="right"
      class="p-button-secondary p-button-outlined"
      @click="logout"
    >
    </base-button>
  </base-fieldset>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BaseFieldset from 'primevue/fieldset';
import { useStore } from '@/store';
import BaseButton from 'primevue/button';
import { PrimeIcons } from 'primevue/api';
import { ActionTypes } from '@/store/actions';
import { useToast } from 'primevue/usetoast';
import { useRouter } from 'vue-router';

export default defineComponent({
  components: {
    BaseFieldset,
    BaseButton
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const toast = useToast();

    const logout = async () => {
      try {
        await store.dispatch(ActionTypes.LOG_OUT, {});
        router.push('/signin');
      } catch (error) {
        toast.add({
          severity: 'error',
          summary: 'Error',
          detail: error.message,
          life: 3000
        });
      }
    };

    return {
      logoutIcon: PrimeIcons.SIGN_OUT,
      logout
    };
  }
});
</script>
