<template>
  <transaction-form
    :visible="modalVisible"
    :categories="categories"
    @close="toggleModal(false)"
  ></transaction-form>
  <base-fieldset legend="Transactions">
    <transactions-filters @change-filters="filtersChanged"></transactions-filters>
    <base-button
      :icon="addIcon"
      class="p-button-secondary p-button-outlined add-button"
      @click="toggleModal"
    ></base-button>
    <data-view :value="transactions">
      <template #list="slotProps">
        <transaction-item
          :category="slotProps.data.expensecategories.name"
          :description="slotProps.data.description"
          :amount="slotProps.data.amount"
          :date="slotProps.data.date"
        ></transaction-item>
      </template>
    </data-view>
  </base-fieldset>
</template>

<script lang="ts">
import TransactionForm from '@/components/transactions/TransactionForm.vue';
import TransactionItem from '@/components/transactions/TransactionItem.vue';
import TransactionsFilters from '@/components/transactions/TransactionsFilters.vue';
import { useModal } from '@/hooks/useModal';
import { useStore } from '@/store';
import { ActionTypes } from '@/store/actions';
import { PrimeIcons } from 'primevue/api';
import BaseButton from 'primevue/button';
import DataView from 'primevue/dataview';
import BaseFieldset from 'primevue/fieldset';
import { computed, defineComponent } from 'vue';

export default defineComponent({
  components: {
    BaseFieldset,
    TransactionsFilters,
    DataView,
    TransactionItem,
    BaseButton,
    TransactionForm
  },
  setup() {
    const store = useStore();
    store.dispatch(ActionTypes.LOAD_CATEGORIES, undefined);
    const filtersChanged = async ({ year, month }: { year: number; month: number }) => {
      store.dispatch(ActionTypes.LOAD_TRANSACTIONS, { year, month });
    };

    const transactions = computed(() => store.getters.transactions);
    const categories = computed(() => store.getters.categories);
    const { modalVisible, toggleModal } = useModal();

    return {
      filtersChanged,
      transactions,
      addIcon: PrimeIcons.PLUS,
      modalVisible,
      toggleModal,
      categories
    };
  }
});
</script>

<style scoped>
.p-fieldset {
  order: 1;
  height: 100%;
}

.add-button {
  width: 100%;
  margin-bottom: 1rem;
}

::v-deep(.p-toggleable-content) {
  height: 100%;
}

::v-deep(.p-fieldset-content) {
  height: 100%;
  padding-bottom: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

::v-deep(.p-dataview) {
  padding-top: 0.8rem;
  overflow-y: scroll;
  flex: 1 1 auto;
}
</style>
