<template>
  <base-item label="Expenses per month">
    <div v-if="data.labels.length > 0">
      <chart type="line" :data="data" :options="options"></chart>
    </div>
    <h4 v-else>
      No data available for the past 6 months.
    </h4>
  </base-item>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import Chart from 'primevue/chart';
import BaseItem from '../../ui/BaseItem.vue';
import { useStore } from '@/store';
import dayjs from 'dayjs';

export default defineComponent({
  components: {
    Chart,
    BaseItem
  },
  setup() {
    const store = useStore();

    const stringToRGB = (str: string): string => {
      let hash = 0;
      for (let i = 0; i < str.length; i++) {
        hash = str.charCodeAt(i) + ((hash << 5) - hash);
      }
      const c = (hash & 0x00ffffff).toString(16).toUpperCase();
      return '#' + '00000'.substring(0, 6 - c.length) + c;
    };

    const data = computed(() => {
      const labels: string[] = [...new Set(store.getters.expenseTimeline.map(item => item.month))];
      const categories = [...new Set(store.getters.expenseTimeline.map(item => item.category))];
      const datasets: {
        label: string;
        data: number[];
        fill: boolean;
        borderColor: string;
      }[] = categories.map(item => ({
        label: item,
        data: [],
        fill: false,
        borderColor: stringToRGB(item)
      }));

      labels.forEach(label => {
        datasets.forEach(dataset => {
          const item = store.getters.expenseTimeline.find(
            ({ month, category }) => month === label && category === dataset.label
          );
          const amount = item?.total || 0;
          dataset.data.push(amount);
        });
      });
      return { labels: labels.map(value => dayjs(value).format('MMM/YY')), datasets };
    });

    const options = {
      legend: {
        display: true,
        labels: {
          fontColor: 'white'
        }
      },
      scales: {
        yAxes: [
          {
            ticks: {
              // Include a dollar sign in the ticks
              callback: function(num: number, index: number) {
                if (index % 2 !== 0) return; // Skip labels
                return Math.abs(num) > 999
                  ? (Math.abs(num) / 1000).toFixed(0) + 'k'
                  : Math.abs(num);
              },
              fontColor: 'white'
            }
          }
        ],
        xAxes: [
          {
            ticks: {
              fontColor: 'white'
            }
          }
        ]
      }
    };
    return {
      data,
      options
    };
  }
});
</script>
