<template>
  <divider>
    Historic
  </divider>
  <expense-timeline></expense-timeline>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Divider from 'primevue/divider';
import ExpenseTimeline from './ExpenseTimeline.vue';

export default defineComponent({
  components: {
    Divider,
    ExpenseTimeline
  }
});
</script>
