<template>
  <divider>
    This Month
  </divider>
  <category-progress></category-progress>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Divider from 'primevue/divider';
import CategoryProgress from './ProgressPerCategory/CategoryProgress.vue';

export default defineComponent({
  components: {
    Divider,
    CategoryProgress
  }
});
</script>
