<template>
  <toast :baseZIndex="9999999"></toast>
  <div class="main-container" :style="{ height: windowHeight + 'px' }">
    <the-navigation v-if="isLoggedIn"></the-navigation>
    <div class="main-content">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from '@/store';
import { computed, defineComponent, onMounted, onUnmounted, ref } from 'vue';
import TheNavigation from '@/components/layout/TheNavigation.vue';
import Toast from 'primevue/toast';

export default defineComponent({
  components: {
    TheNavigation,
    Toast
  },
  setup() {
    const store = useStore();
    const isLoggedIn = computed(() => store.getters.isLoggedIn);

    const windowHeight = ref(window.innerHeight);
    const onHeightChange = () => (windowHeight.value = window.innerHeight);
    onMounted(() => window.addEventListener('resize', onHeightChange));
    onUnmounted(() => window.addEventListener('resize', onHeightChange));

    return { isLoggedIn, windowHeight };
  }
});
</script>

<style>
body {
  background-color: var(--surface-0);
  color: var(--text-color);
  margin: 0;
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.main-content {
  margin: 8px;
  flex: 1 1 auto;
  overflow-y: hidden;
}
</style>
