<template>
  <div class="container">
    <pv-card>
      <template #title>
        <h2>Sign Up</h2>
      </template>
      <template #content>
        <user-form passwordFeedback @submit="submitForm" btnLabel="Sign Up"></user-form>
      </template>
      <template #footer>
        <router-link to="/signin">Already have an account? Sign in instead!</router-link>
      </template>
    </pv-card>
    <message v-if="error" severity="error">{{ error }}</message>
  </div>
</template>

<script lang="ts">
import UserForm from '@/components/auth/UserForm.vue';
import { useStore } from '@/store';
import { ActionTypes } from '@/store/actions';
import Message from 'primevue/message';
import { defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';

export default defineComponent({
  components: {
    Message,
    UserForm
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const error = ref<string | null>(null);

    const submitForm = async (data: { email: string; password: string }) => {
      error.value = null;
      try {
        await store.dispatch(ActionTypes.SIGN_UP, {
          email: data.email,
          password: data.password
        });
      } catch (err) {
        error.value = err as string;
        return;
      }
      router.push('/settings');
    };

    return { submitForm, error };
  }
});
</script>

<style scoped>
.container {
  max-width: 960px;
  width: 75vw;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-card {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--blue-500);
}
</style>
