<template>
  <form class="p-fluid" @submit.prevent="submitForm">
    <div class="p-field">
      <div class="p-float-label">
        <input-text
          id="userEmail"
          type="email"
          v-model="v$.email.$model"
          :class="{ 'p-invalid': v$.email.$error }"
        />
        <label for="userEmail">E-Mail</label>
      </div>
      <small v-if="v$.email.$error" class="p-error">
        E-Mail should be in the form of name@gmail.com
      </small>
    </div>
    <br />
    <div class="p-field p-float-label">
      <password v-model="data.password" :feedback="passwordFeedback" toggleMask></password>
      <label for="userPassword">Password</label>
    </div>
    <base-button :label="btnLabel" type="submit" />
  </form>
</template>

<script lang="ts">
import useVuelidate from '@vuelidate/core';
import { required, email } from '@vuelidate/validators';
import { computed, defineComponent, reactive } from 'vue';
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import BaseButton from 'primevue/button';

export default defineComponent({
  components: {
    InputText,
    Password,
    BaseButton
  },
  emits: ['submit'],
  props: {
    passwordFeedback: {
      type: Boolean,
      default: false,
      required: false
    },
    btnLabel: {
      type: String,
      required: true
    }
  },
  setup(_, { emit }) {
    const data = reactive({
      email: '',
      password: ''
    });

    const rules = computed(() => ({
      email: { email, required },
      password: { required }
    }));

    const v$ = useVuelidate(rules, data);

    const submitForm = () => {
      v$.value.$touch();
      if (v$.value.$invalid) {
        return;
      }
      emit('submit', {
        email: data.email,
        password: data.password
      });
    };

    return { v$, submitForm, data };
  }
});
</script>
